{:min-bb-version "1.2.174"
 :paths ["src" "test"]
 :deps
 {current/deps {:local/root "."}}

 :tasks
 {test {:doc "Run all tests"
        :task (shell "bin/kaocha")}
  jar {:doc "Build jar with latest version"
       :task (clojure "-T:build jar")}
  pom {:doc "Build pom.xml based on deps.edn"
       :task (clojure "-X:deps mvn-pom")}
  deploy {:doc "Deploy the latest release"
          :task (clojure "-X:deploy")}
  format:check {:doc "Check code formatting with standard-clj"
                :task (shell "standard-clj" "check" "src" "test" "examples/src")}
  format:project {:doc "Run standard-clojure formatting on the entire codebase"
                  :task (shell "standard-clj" "fix" "src" "test" "examples/src")}}}
