{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.uncomplicate/clojure-sound {:mvn/version "0.3.0"}
        com.taoensso/telemere {:mvn/version "1.0.1"}
        metosin/malli {:mvn/version "0.19.1"}
        org.clojure/core.async {:mvn/version "1.9.808-alpha1"}
        metosin/jsonista {:mvn/version "0.3.13"}
        com.microsoft.onnxruntime/onnxruntime {:mvn/version "1.22.0"}
        hato/hato {:mvn/version "1.1.0-SNAPSHOT"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :pom {:group-id "com.shipclojure"
       :artifact-id "simulflow"
       :version "0.1.7-patch1-alpha"
       :name "simulflow"
       :description "A Clojure framework for building real-time voice-enabled AI applications"
       :url "https://github.com/shipclojure/simulflow"
       :scm {:url "https://github.com/shipclojure/simulflow"
             :tag "v0.1.7-patch1-alpha"
             :connection "scm:git:git://github.com/shipclojure/simulflow.git"
             :dev-connection "scm:git:ssh://git@github.com/shipclojure/simulflow.git"}
       :licenses [{:name "Eclipse Public License"
                   :url "http://www.eclipse.org/legal/epl-v10.html"}]
       :developers [{:name "Ovi Stoica"}]}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :run {:main-opts ["-m" "simulflow.transport.local.audio"]
        :exec-fn simulflow.transport.local.audio/main}
  :dev {:extra-paths ["dev"]
        ;; Check schema for each frame instantiation (not recommended in prod
        ;; since many schemas are created)
        :jvm-opts ["-Dsimulflow.frame.schema-checking=true"]
        :extra-deps {djblue/portal {:mvn/version "0.58.5"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     clj-kondo/clj-kondo {:mvn/version "2025.06.05"}}}
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.52.0"}}
              :main-opts ["-m" "nrepl.cmdline"
                          "--middleware" "[cider.nrepl/cider-middleware]"
                          "--port" "52158"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "kaocha.runner"]
         :extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      lambdaisland/kaocha {:mvn/version "1.0.732"}
                      kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}}}
  :with-examples {:extra-deps {org.clojure/data.xml {:mvn/version "0.0.8"}
                               ring/ring-jetty-adapter {:mvn/version "1.14.2"}
                               ring/ring-core {:mvn/version "1.14.2"}
                               metosin/reitit {:mvn/version "0.9.1"}}
                  :extra-paths ["./examples/src"]}
  :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2025.06.05"}}
              :main-opts ["-m" "clj-kondo.main"]}
  :storm {:classpath-overrides {org.clojure/clojure nil}
          :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-3"}
                       com.github.flow-storm/flow-storm-dbg {:mvn/version "4.2.0-SNAPSHOT"}
                       com.github.flow-storm/flow-storm-async-flow-plugin {:mvn/version "1.0.0-SNAPSHOT"}}
          :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                     "-Dclojure.storm.instrumentOnlyPrefixes=clojure.core.async.flow,simulflow"
                     "-Dflowstorm.jarEditorCommand=emacsclient -n +<<LINE>>:0 <<JAR>>/<<FILE>>"
                     "-Dflowstorm.fileEditorCommand=emacsclient -n +<<LINE>>:0 <<FILE>>"

                     "-Dvisualvm.display.name=VoceFnExample"
                     "-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :artifact "target/com.shipclojure/simulflow-v0.1.7-patch1-alpha.jar"}}}}
