{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {voice-fn.frame {user-speech-stop {:arities {1 {:args [:any],
                                                                                       :ret {:op :keys,
                                                                                             :req {:frame/type :any,
                                                                                                   :frame/data :any,
                                                                                                   :frame/ts :any}}}}},
                                                        transcription-interim {:arities {1 {:args [:any],
                                                                                            :ret {:op :keys,
                                                                                                  :req {:frame/type :any,
                                                                                                        :frame/data :any,
                                                                                                        :frame/ts :any}}}}},
                                                        llm-text-chunk? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        transcription? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        control-interrupt-stop? {:arities {1 {:args [:any],
                                                                                              :ret :boolean}}},
                                                        llm-tool-call-result? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        control-interrupt-start {:arities {1 {:args [:boolean],
                                                                                              :ret {:op :keys,
                                                                                                    :req {:frame/type :any,
                                                                                                          :frame/data :boolean,
                                                                                                          :frame/ts :any}}}}},
                                                        llm-text-sentence {:arities {1 {:args [:any],
                                                                                        :ret {:op :keys,
                                                                                              :req {:frame/type :any,
                                                                                                    :frame/data :any,
                                                                                                    :frame/ts :any}}}}},
                                                        system-start? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        audio-input-raw? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        llm-tools-replace? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        control-interrupt-stop {:arities {1 {:args [:boolean],
                                                                                             :ret {:op :keys,
                                                                                                   :req {:frame/type :any,
                                                                                                         :frame/data :boolean,
                                                                                                         :frame/ts :any}}}}},
                                                        llm-tools-replace {:arities {1 {:args [{:op :keys,
                                                                                                :req {:type :any,
                                                                                                      :function {:op :keys,
                                                                                                                 :opt {:strict :boolean},
                                                                                                                 :req {:name :string,
                                                                                                                       :description :string,
                                                                                                                       :parameters :any}}}}],
                                                                                        :ret {:op :keys,
                                                                                              :req {:frame/type :any,
                                                                                                    :frame/data {:op :keys,
                                                                                                                 :req {:type :any,
                                                                                                                       :function {:op :keys,
                                                                                                                                  :opt {:strict :boolean},
                                                                                                                                  :req {:name :string,
                                                                                                                                        :description :string,
                                                                                                                                        :parameters :any}}}},
                                                                                                    :frame/ts :any}}}}},
                                                        transcription {:arities {1 {:args [:any],
                                                                                    :ret {:op :keys,
                                                                                          :req {:frame/type :any,
                                                                                                :frame/data :any,
                                                                                                :frame/ts :any}}}}},
                                                        system-error {:arities {1 {:args [:any],
                                                                                   :ret {:op :keys,
                                                                                         :req {:frame/type :any,
                                                                                               :frame/data :any,
                                                                                               :frame/ts :any}}}}},
                                                        system-error? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        llm-full-response-end? {:arities {1 {:args [:any],
                                                                                             :ret :boolean}}},
                                                        speak-frame? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        speak-frame {:arities {1 {:args [:string],
                                                                                  :ret {:op :keys,
                                                                                        :req {:frame/type :any,
                                                                                              :frame/data :string,
                                                                                              :frame/ts :any}}}}},
                                                        user-speech-start? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        llm-full-response-end {:arities {1 {:args [:any],
                                                                                            :ret {:op :keys,
                                                                                                  :req {:frame/type :any,
                                                                                                        :frame/data :any,
                                                                                                        :frame/ts :any}}}}},
                                                        llm-tool-call-chunk {:arities {1 {:args [:any],
                                                                                          :ret {:op :keys,
                                                                                                :req {:frame/type :any,
                                                                                                      :frame/data :any,
                                                                                                      :frame/ts :any}}}}},
                                                        system-config-change? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        user-speech-start {:arities {1 {:args [:boolean],
                                                                                        :ret {:op :keys,
                                                                                              :req {:frame/type :any,
                                                                                                    :frame/data :boolean,
                                                                                                    :frame/ts :any}}}}},
                                                        control-bot-interrupt? {:arities {1 {:args [:any],
                                                                                             :ret :boolean}}},
                                                        llm-context {:arities {1 {:args [{:op :keys,
                                                                                          :opt {:tools :vector,
                                                                                                :tool-choice :any},
                                                                                          :req {:messages :vector}}],
                                                                                  :ret {:op :keys,
                                                                                        :req {:frame/type :any,
                                                                                              :frame/data {:op :keys,
                                                                                                           :opt {:tools :vector,
                                                                                                                 :tool-choice :any},
                                                                                                           :req {:messages :vector}},
                                                                                              :frame/ts :any}}}}},
                                                        audio-tts-raw {:arities {1 {:args [:any],
                                                                                    :ret {:op :keys,
                                                                                          :req {:frame/type :any,
                                                                                                :frame/data :any,
                                                                                                :frame/ts :any}}}}},
                                                        user-speech-stop? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        text-input? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        scenario-context-update? {:arities {1 {:args [:any],
                                                                                               :ret :boolean}}},
                                                        llm-full-response-start {:arities {1 {:args [:any],
                                                                                              :ret {:op :keys,
                                                                                                    :req {:frame/type :any,
                                                                                                          :frame/data :any,
                                                                                                          :frame/ts :any}}}}},
                                                        llm-tool-call-result {:arities {1 {:args [:any],
                                                                                           :ret {:op :keys,
                                                                                                 :req {:frame/type :any,
                                                                                                       :frame/data :any,
                                                                                                       :frame/ts :any}}}}},
                                                        control-bot-interrupt {:arities {1 {:args [:boolean],
                                                                                            :ret {:op :keys,
                                                                                                  :req {:frame/type :any,
                                                                                                        :frame/data :boolean,
                                                                                                        :frame/ts :any}}}}},
                                                        llm-tool-call-chunk? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        system-start {:arities {1 {:args [:boolean],
                                                                                   :ret {:op :keys,
                                                                                         :req {:frame/type :any,
                                                                                               :frame/data :boolean,
                                                                                               :frame/ts :any}}}}},
                                                        llm-context-messages-append? {:arities {1 {:args [:any],
                                                                                                   :ret :boolean}}},
                                                        system-stop? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        system-stop {:arities {1 {:args [:boolean],
                                                                                  :ret {:op :keys,
                                                                                        :req {:frame/type :any,
                                                                                              :frame/data :boolean,
                                                                                              :frame/ts :any}}}}},
                                                        llm-full-response-start? {:arities {1 {:args [:any],
                                                                                               :ret :boolean}}},
                                                        llm-context? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        scenario-context-update {:arities {1 {:args [{:op :keys,
                                                                                                      :opt {:tools :vector,
                                                                                                            :tool-choice :any},
                                                                                                      :req {:messages :vector}}],
                                                                                              :ret {:op :keys,
                                                                                                    :req {:frame/type :any,
                                                                                                          :frame/data {:op :keys,
                                                                                                                       :opt {:tools :vector,
                                                                                                                             :tool-choice :any},
                                                                                                                       :req {:messages :vector}},
                                                                                                          :frame/ts :any}}}}},
                                                        llm-context-messages-append {:arities {1 {:args [:vector],
                                                                                                  :ret {:op :keys,
                                                                                                        :req {:frame/type :any,
                                                                                                              :frame/data :vector,
                                                                                                              :frame/ts :any}}}}},
                                                        system-config-change {:arities {1 {:args [{:op :keys,
                                                                                                   :opt {:audio-in/sample-rate :int,
                                                                                                         :audio-in/channels :int,
                                                                                                         :audio-in/encoding :keyword,
                                                                                                         :audio-in/sample-size-bits :int,
                                                                                                         :audio-out/sample-rate :int,
                                                                                                         :audio-out/channels :int,
                                                                                                         :audio-out/encoding :keyword,
                                                                                                         :audio-out/sample-size-bits :int,
                                                                                                         :pipeline/language :any,
                                                                                                         :pipeline/supports-interrupt? :boolean,
                                                                                                         :llm/context {:op :keys,
                                                                                                                       :opt {:tools :vector,
                                                                                                                             :tool-choice :any},
                                                                                                                       :req {:messages :vector}},
                                                                                                         :llm/registered-functions :map,
                                                                                                         :transport/in-ch :any,
                                                                                                         :transport/out-ch :any}}],
                                                                                           :ret {:op :keys,
                                                                                                 :req {:frame/type :any,
                                                                                                       :frame/data {:op :keys,
                                                                                                                    :opt {:audio-in/sample-rate :int,
                                                                                                                          :audio-in/channels :int,
                                                                                                                          :audio-in/encoding :keyword,
                                                                                                                          :audio-in/sample-size-bits :int,
                                                                                                                          :audio-out/sample-rate :int,
                                                                                                                          :audio-out/channels :int,
                                                                                                                          :audio-out/encoding :keyword,
                                                                                                                          :audio-out/sample-size-bits :int,
                                                                                                                          :pipeline/language :any,
                                                                                                                          :pipeline/supports-interrupt? :boolean,
                                                                                                                          :llm/context {:op :keys,
                                                                                                                                        :opt {:tools :vector,
                                                                                                                                              :tool-choice :any},
                                                                                                                                        :req {:messages :vector}},
                                                                                                                          :llm/registered-functions :map,
                                                                                                                          :transport/in-ch :any,
                                                                                                                          :transport/out-ch :any}},
                                                                                                       :frame/ts :any}}}}},
                                                        llm-text-sentence? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        audio-tts-raw? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        audio-input-raw {:arities {1 {:args [:any],
                                                                                      :ret {:op :keys,
                                                                                            :req {:frame/type :any,
                                                                                                  :frame/data :any,
                                                                                                  :frame/ts :any}}}}},
                                                        transcription-interim? {:arities {1 {:args [:any],
                                                                                             :ret :boolean}}},
                                                        text-input {:arities {1 {:args [:any],
                                                                                 :ret {:op :keys,
                                                                                       :req {:frame/type :any,
                                                                                             :frame/data :any,
                                                                                             :frame/ts :any}}}}},
                                                        audio-output-raw? {:arities {1 {:args [:any], :ret :boolean}}},
                                                        audio-output-raw {:arities {1 {:args [:any],
                                                                                       :ret {:op :keys,
                                                                                             :req {:frame/type :any,
                                                                                                   :frame/data :any,
                                                                                                   :frame/ts :any}}}}},
                                                        llm-text-chunk {:arities {1 {:args [:any],
                                                                                     :ret {:op :keys,
                                                                                           :req {:frame/type :any,
                                                                                                 :frame/data :any,
                                                                                                 :frame/ts :any}}}}},
                                                        control-interrupt-start? {:arities {1 {:args [:any],
                                                                                               :ret :boolean}}}}}}}}
