{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.uncomplicate/clojure-sound {:mvn/version "0.3.0"}
        com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
        metosin/malli {:mvn/version "0.17.0"}
        org.clojure/core.async {:mvn/version "1.7.701"}
        metosin/jsonista {:mvn/version "0.3.8"}
        ring/ring-core {:mvn/version "1.13.0"}
        hato/hato {:mvn/version "1.0.0"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.22.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :run {:main-opts ["-m" "voice-fn.transport.local.audio"]
        :exec-fn voice-fn.transport.local.audio/main}
  :dev {:extra-deps {djblue/portal {:mvn/version "0.58.5"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}}
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.3"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      midje/midje {:mvn/version "1.10.10"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}}}
